ss /* 
Author:Amreen wafa;
theme: Food order website admin;
version: 1.0; 
*/



/* this css is for all or we can say default adding css */
*{
 margin: 0;
 padding: 0;
 font-family: "Caveat", cursive;
 font-family: "Foldit", sans-serif;
 font-family: "Roboto", sans-serif;
}



.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0% auto;
}


.text-center{
    text-align: center;
}

/* css for fixing of overflow in div but currently not working*/
.clearfix {
    clear: both;
    display: none;
  }
  
  /* css for fixing of overflow in div */
.overflow {
    overflow: auto;
  }

  h1 {
    font-size: 1.3rem;
    color: rgb(12, 43, 43);
  }
  
   /**css for manage admin tables * */
   .tbl-full{
    width: 100%;
   }
   

   table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
   }

   table tr td{
    padding: 1%;
   }

   .tbl-30{
    width: 30%;
   }
   

   /* Submit button coloring */
.btns {
  background-color: #D862BC;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
}

.btns:hover {
  background-color: #E59BE9;
}

   /* css for button */
   .btn-primary{
    background-color: #7FBCD2;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
   }

   .btn-primary:hover{
    background-color: #95BDFF;
   }


   .btn-secondary{
    background-color: #41B06E;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
   }

   .btn-secondary:hover{
    background-color: #8DECB4;
   }


   .btn-danger{
    background-color: #E25E3E;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
   }

   .btn-danger:hover{
    background-color: #FF9B50;
   }


   .success {
    color: green;
    width: 30%;
  }
  
  .failure {
    color: red;
    /* background-color: #370b83; */
    width: 30%;
  }
  

  
 /****************************** css for menu content Starts ********************************** */
.menu{
     background-color: rgb(35, 35, 54); 
    /* line-height: 80px;
    margin-right: 200px; */
}

.menu ul{
    /* to remove dots after using ul */
     list-style-type: none;  
}

.menu ul li{
    /* to make them inline horizontally */
    display: inline;
    padding: 1%;
} 

.menu ul li a{
    /* to remove underline decorection which is before  */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;

}

.menu ul li a:hover {
    color: rgb(245, 242, 45);
    font-size: 18px;
  }
  
 /****************************** css for menu content End ********************************** */


 /****************************** css for main content for Index Starts  ********************************** */
  .main{
    background-color: #DCF2F1;
    /* css for fixing of overflow in div */
    overflow: auto;
    padding: 3% 0%;
    font-size: 1.5rem;
  }

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
    /* css for fixing of overflow in div */
    overflow: auto;
}

   /****************************** css for main content End ********************************** */



/****************************** css for footer starts here ********************************** */

.footer{
    font-size: 1.5rem;
    background-color: #98ABEE;
    color: black;
    text-decoration: none;
}

/****************************** css for footer ends here ********************************** */